@{
    ViewBag.Title = "Add";
}

<div class="container" style="margin-bottom:20px;">
    <h3>@ViewBag.Message</h3>
    <span>Name : <input type="text" id="name" /></span>
    <span>Age : <input type="text" id="age" /></span>
    <button type="button" id="add" class="btn btn-primary" onclick="add_list()">Add</button>
</div>

