@{
    ViewBag.Title = "Add";
}

<div class="container" style="margin-bottom:20px;">
    <h3>@ViewBag.Message</h3>
    <span>Name : <input id="name" /></span>
    <span>Age : <input id="age" /></span>
    <button type="button" id="add" class="btn btn-primary">Add</button>
</div>

