@{
    ViewBag.Title = "Home Page";
}
@using MVC_Test.Models;
@{ 
    List<Test> Lists = ViewBag.lists;
}

@{ 
    int count = 0;
    foreach(Test list in Lists)
    {
        count++;
        <tr id="@list.id">
            <td>@count</td>
            <td>@list.name</td>
            <td>@list.age</td>
        </tr>
    }
}